root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# @Composable 関数は Compose の慣習で PascalCase を使うため、
# ktlint の function-naming の対象から外す。
ktlint_function_naming_ignore_when_annotated_with = Composable
